*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    width: 60vw;
    margin: auto;
}

h1{
    font-size: 70px;
    padding: 0;
}

.links{
    margin: 100px 20px;
}

.links a{
    display: block;
}